extends ../app.jade
block content
	div(class="container")
		div(class='row')
			div(class='col-sm-12')
				h1 FotoFacilito
			div(class='col-sm-4')
				h3 Inicia Sesión
				form(action="/users",method="POST")
					div(class="form-group")
						label(for="email") Ingrese su email
						input(type="text" name="email" id="email" placeholder="Email" class="form-control")
					div(class="form-group")
						label(for="password") Ingrese su contraseña
						input(type="password" name="password" id="password" placeholder="Contraseña" class="form-control")
					div
						input(type="submit" value="Iniciar sesión" class="btn btn-primary")
						a(href="#" class="pull-right") Olvidé mi contraseña
			div(class='col-sm-8')
				h3 Registrate
				//- Probando
				div(id="registerSuccess" class="alert alert-success alert-dismissible" style="display:none")
					a(href="#" class="close" data-dismiss="alert" aria-label="close")
					p Registrado satisfactoriamente
				div(id="registerError" class="alert alert-danger alert-dismissible" style="display:none")
					a(href="#" class="close" data-dismiss="alert" aria-label="close")
					p Verifique los datos
				form(id="register" action="/",method="POST")
					div(class='col-sm-6')
						div(class="form-group")
							label(for="email") Email
							input(type="text" name="email" id="email" placeholder="Email" class="form-control")
						div(class="form-group")
							label(for="password") Contraseña
							input(type="password" name="password" id="password" placeholder="Contraseña" class="form-control")
						div(class="form-group")
							label(for="password") Confirmar contraseña
							input(type="password" name="passwordConfimation" id="passwordConfimation" placeholder="Contraseña" class="form-control")
						div(class="form-group")
							label(for="password") Username
							input(type="text" name="username" id="username" placeholder="Username" class="form-control")
					div(class='col-sm-6')
						div(class="form-group")
							label(for="name") Nombre
							input(type="text" name="name" id="name" placeholder="Nombre" class="form-control")
						div(class="form-group")
							label(for="sex") Sexo
							input(type="text" name="sex" id="sex" placeholder="Sexo" class="form-control")
						div(class="form-group")
							label(for="age") Edad
							input(type="text" name="age" id="age" placeholder="Edad" class="form-control")
						div(class="form-group")
							label(for="birthdate") Fecha de nacimiento
							input(type="text" name="birthdate" id="birthdate" placeholder="Fecha de nacimiento" class="form-control")
					div
						input(type="submit" value="Registrar" class="btn btn-primary")
				